/* HomeArt.module.scss */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #0f141e; // Dark background color
  overflow: hidden; // Prevent scrollbars
}

.backgroundText {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 7px rgba(15, 20, 30, 0.1);
  z-index: 0;
  pointer-events: none;
  white-space: nowrap;
}

.imageContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50vw; // Adjust width as needed
  height: 100vh; // Full height
  overflow: hidden;
  border-radius: 10px;
  z-index: 1; // Ensure image is above background text
  backdrop-filter: grayscale(12); // Grayscale effect for the image
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply; // Blend mode to mix with the background
}

.textContainer {
  margin-left: 20px;
  max-width: 50%; // Ensure text container takes up half the space
  z-index: 2; // Ensure text is above the image
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  backdrop-filter: blur(10px); // Glassmorphism effect for text container
}

.name {
  font-size: 3.5rem;
  font-weight: 900;
  color: #171717;
  margin: 0;
  background: linear-gradient(to right, #171717, #fcfaf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  transition: background 0.5s ease;
}

.name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #e91e63, #ff9800);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.name:hover::after {
  transform: scaleX(1);
}

.title {
  font-size: 1.5rem;
  color: #666;
  margin: 10px 0;
}

.description {
  font-size: 1.1rem;
  color: #444;
  max-width: 600px;
  margin: 0 auto;
}
.splash {
  position: relative;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f141e; // Dark blue base color
  overflow: hidden; // Prevent scrollbars
  z-index: 0;
}
