:root {
  --background: #ffffff;
  --foreground: rgb(23, 23, 23);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#mePin {
  path {
    fill: rgb(23, 23, 23);
  }

  .ring_outer {
    animation: opacityPulse 2s cubic-bezier(1, 0.14, 1, 1);
    animation-iteration-count: infinite;
    opacity: 0.5;
  }

  .ring_inner {
    animation: opacityPulse 2s cubic-bezier(0.4, 0.74, 0.56, 0.82);
    animation-iteration-count: infinite;
    opacity: 0.8;
  }
}

@keyframes opacityPulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }

  75% {
    transform: translate3d(0, -3px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}
