.container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  z-index: 1100;
  transition: transform 0.3s ease-in-out;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.line1 {
  transform-origin: top left;
}

.line2 {
  transform-origin: center;
}

.line3 {
  transform-origin: bottom left;
}

/* Styles for the open state */
.open .line1 {
  transform: rotate(45deg);
  background-color: white; /* Change color when open */
}

.open .line2 {
  opacity: 0;
  background-color: white; /* Change color when open */
}

.open .line3 {
  transform: rotate(-45deg);
  background-color: white; /* Change color when open */
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%; /* Adjusted for mobile */
  height: 100vh;
  background-color: #0f141e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}

.menu.open {
  transform: translateX(0%);
}

.menuItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 40px;
}

.menuItem {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  padding: 10px 0; /* Adjusted for vertical padding */
  width: 100%; /* Ensure full width */
}

.menuItem a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.menuItem a::before,
.menuItem a::after {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.menuItem a::after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menuItem a::before {
  right: -2px;
  bottom: -3px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menuItem a:hover::before,
.menuItem a:hover::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

@media (max-width: 768px) {
  .hamburger {
    width: 30px;
    height: 20px;
  }

  .line {
    height: 3px;
  }

  .menuItem {
    font-size: 28px;
    padding: 8px 0; /* Adjusted for smaller screens */
  }
}
