@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

.loadingContainer {
  z-index: 199999999999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: var(--text-primary);
  font-family: "Arial", sans-serif;
  background-color: #0f141e;
}

.name {
  font-size: 140px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: white;
}

.messages {
  text-align: center;
  color: white;
}

.message {
  font-size: 44px;
  margin-bottom: 10px;
  color: white;
}
